<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Checkers</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename ='style.css')}}">
</head>
<body>
    <h1>***Checkerboard***</h1>
    <div id="cont">
        {% for x in range(0, num2) %}
        <div id="horiz">
            {% for j in range(0, num) %}
            <div class="box" style="background-color: red;"></div>
            <div class="box2" style="background-color: black;"></div>
            {% endfor %}
        </div>
        <div id="vert">
            {% for j in range(0, num) %}
            <div class="box" style="background-color: black;"></div>
            <div class="box2" style="background-color: red;"></div>
            {% endfor %}
        </div>
        {% endfor %}
    </div>
</body>
</html>
