<!DOCTYPE html>
<html lang="en">
    <style>
    h1 {
        text-align: center;
    }
    #box {
        width: 200px;
        height: 200px;
        background-color: lightblue;
        border-radius: 10%;
        margin: auto;
        border: 3px solid black;
    }
    #container {
        display: flex;
        flex-wrap: wrap;
    }
    </style>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Level 1</title>
</head>
<body>
    <h1>Welcome</h1>
    <div id="container">
        {% for i in range(0, num) %}
        <div id="box" style="background-color: {{color}};"></div>
        {% endfor %}
    </div>
    
</body>
</html>